# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objetives:**

* List popupar languajes for Data Sience
* List of common libraries for Data Science
* Examples of arithmetic expresions

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:

* NumPy
* Matplotlib
* Pandas

|Data Science Tools|
-------------------
| Jupyter Notebooks |
| R Studio |
| Weka |

### Below are a few examples of evaluating aritmetic expresion in Python

In [17]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [19]:
# This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## Author
Domingo Jesús Sánchez Blanco